@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

:root {
  --background: #e1e0e6;
  --foreground: #f0eff5;
  --accent-one: #2d2e32;
  --accent-two: #488ffb;
  --primary: #ffffff;
  --text-application: #000000;
  --text-invert: #FFFFFF;
}

html[data-theme='dark'] {
  --background: #090a0a;
  --foreground: #141616;
  --accent-one: #2d2e32;
  --accent-two: #54ffbd;
  --primary: #ffffff;
  --text-application: #FFFFFF;
  --text-invert: #FFFFFF;
}

html[data-theme='pink']{
  --background: #e68bbe;
  --foreground: #eea1cd;
  --accent-one: #f9cee7;
  --accent-two: #01f8d9;
  --primary: #ffffff;
  --text-application: #fde4f2;
  --text-invert: #4b0707;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent-one : var(--accent-one);
  --color-accent-two : var(--accent-two);
  --color-primary: var(--primary);
  --color-text-invert: var(--text-invert);
  --color-text-sys: var(--text-application);
}

body {
  background: var(--background);
  color: var(--text-application);
  font-family: Inter, sans-serif;
  max-width: 390px;
}
