@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

:root {
  --background: #e1e0e6;
  --foreground: #f0eff5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent-one : #2d2e32;
  --color-accent-two : #488ffb;
  --color-primary: #FFFFFF;
  --color-text: #364153;
}

/* @media (prefers-color-scheme: dark) { */
/*   :root { */
/*     --background: #0a0a0a; */
/*     --foreground: #ededed; */
/*   } */
/* } */

body {
  background: var(--background);
  color: #000000;
  font-family: Inter, sans-serif;
  max-width: 390px;
}
